<!DOCTYPE html>
<html>
<head>
  <title>Crushize</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= yield %>

  <div class="container">
    <div class="footer">
      <p>&copy; Crushize <%= Time.now.year %> &middot; <%= mail_to 'crushize@gmail.com', 'Contact us.' %> &middot; <a href="https://twitter.com/crushize">You should follow us on twitter.</a></p>
    </div>
  </div>

<%= render_google_analytics %>
</body>
</html>
